/* color palette
#ED6F93 - purple
#72E2A1 - Light Green 
#E0C771 - Yellow
#D09C7A - Dark Yellow
#839977 - Dark Green
#403353 - Violet
#FFFFFF - White
#000000 - Black
#808080 - Gray
 */

/* fonts */
@font-face{
	font-family:"science-project";
	src:url("../fonts/SCIEP___.TTF");
}
/* Variables */

:root {
	--yellow-transparent: rgba(224, 199, 113,0.7);
	--pink-transparent: rgba(237, 111, 147, 0.7);	
	--purple: #F1597A;
	--lightGreen: #72E2A1;
	--yellow: #E0C771;
	--darkYellow: #D09C7A;
	--darkGreen: #839977;
	--violet: #B44292;
	--white: #FFFFFF;
	--black: #000000; 
	--grey: #808080;
	--green:#57BC90;
	--blue:#77C9D4;
	--light-blue:rgba(119,201,212,0.7);
	--light-green:rgba(87,188,14,0.7);

}


/* global */
html {
	box-sizing: border-box;
}
body {
	font-family: "Helvetica", "Arial";
	margin: 0;
}
*, *:before, *:after {
	box-sizing: inherit;
}
a {
	color:#93989C;
}
a:hover {
	color:#FFFFFF;
	text-decoration: none;
}
.content-wrap {
	max-width: 1200px;
	margin: 0 auto;
	padding: 10px 10px;
}

/* Navbar */
.navbar  {
	text-align: center;
	position: fixed;
	width: 100%;
	height:80px;
	background:#000000;
	padding:0px;
}
.navbar-collapse {
	background:#000000;
}
.navbar a {
	display: inline-block;
	padding: 15px 20px;
	text-decoration: none;
	font-weight: 1000;
	font-family: Helvetica;
	color:#808080;
	font-size:15px;
	margin:8px;
}
.right-items {
	text-align:right;
	float:right;
	color:#808080;

}
.navbar .left-items {
	text-align:left;
	float:left;
	color:#FFFFFF;
	font-family:"science-project";
	font-size:20px;
}
.navigation .right-items {
	font-family:"science-project";
	font-size:20px;
	text-decoration:none;
	color:#FFFFFF;
}
.navbar a img, .navigation a img {
	height:35px;
	width:25px;
	float:left;
	margin-right:10px;
	margin-top:-10px;
}
.navbar a:hover, .navbar .active_item{
	color:#FFFFFF;
}

/* main-welcome section */
.main-welcome{
	background:#000000;
	padding-bottom:60px;
}
.main-welcome .content-wrap {
	background:#000000;	
	padding:10px;
	padding-top:120px;

}
.main-welcome .content-wrap .flex-content, .main-content-middle .content-wrap .flex-content {
	display:flex;
}
.main-welcome .content-wrap .top-top {
	margin:0.49%;	
	background:000000;
	max-height:200px;
	width:99%;
}
.left-top {
	width:49%;
	float:left;
	margin:0.49%;
	margin-top:0;
}
.right-top {
	background:linear-gradient(to bottom right , var(--green), var(--blue));
	width:49%;
	float:right;
	margin:0.49%;
	margin-top:0;
	text-align:center;
}
.top-top h1, .main-content-middle-top h1{
	padding:15px;
	font-size:50px;
	margin:0px;
	font-family:Helvetica, Arial;
	font-weight:bold;
	padding-bottom:30px;

}
.top-top h1 {
	color:#FFFFFF;	
}
.main-welcome .content-wrap .top-top h2, .main-welcome .content-wrap .right-top h2, .main-content-bottom .content-wrap .img-banner h2, .hover-text h2, .main-body h2 {
	font-size:25px;
	text-align:center;
	font-family:Helvetica, Arial;
	font-weight:bold;
	padding-bottom:15px;
}

.main-welcome .content-wrap .right-top h2, .main-content-botttom .content-wrap .img-banner h2{
	color:#000000;
}

.left-top-img, .middle-img {
	width:100%;
	height:100%
}
.main-welcome .content-wrap .right-top h1, .main-content-bottom .content-wrap .img-banner h1, .hover-text h1{
	font-family:Helvetica;
	font-size:35px;
	vertical-align:middle;
	text-transform:uppercase;
	font-weight:bold;
	text-align:center;
	margin:auto;
	padding:10px;
	background: -webkit-linear-gradient(#403353, #ED6F93);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}
button {
	background-color: var(--black);
	border: none;
	color: white;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	border-radius:5px;	
}
button:hover {
	background-color:var(--white);
	color:#000000;
}

/* main-content-middle section */
.main-content-middle, .main-programs {
	background: linear-gradient(to right, var(--blue),var(--green));
	padding-bottom:50px;
	text-align:center;
}
.main-content-middle-top {
	margin:auto;
	text-align:center;
	margin-top:20px;
	margin-bottom:15px;	
}
.main-content-middle-top h1, .main-programs h1, .main-body h1{	
	background: -webkit-linear-gradient(#403353, #ED6F93);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	font-size:50px;
}
.hover-bottom-left {
	background: url(../img/images/chemistry.jpeg) no-repeat center center; 
}
.hover-bottom-right {
	background: url(../img/images/anatomy.jpeg) no-repeat center center; 
}
.hover-top-right {
	background: url(../img/images/space.jpeg) no-repeat center center; 
}
.hover-top-left {
	background: url(../img/images/robot3.jpeg) no-repeat center center; 
}
.hover-top-left, .hover-bottom-left, .hover-bottom-right, .hover-top-right {
	border:1px solid #403353;
	box-shadow: 2.5px 5px;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;		
	min-height:450px;
	min-width:200px;
	border-radius:10px;
	margin-bottom:10px;
}
.hover-text {
	text-align:center;
	display:none;
	min-height:450px;
	padding:50px;
	border-radius:10px;
	box-shadow: 2.5px 5px;
}
.hover-top-left:hover {
	background:url(../img/images/robot3.jpeg) no-repeat center center;
	box-shadow: 0px 0px;
}
.hover-bottom-left:hover {
	background:url(../img/images/chemistry.jpeg) no-repeat center center;
	box-shadow: 0px 0px;
}

.hover-bottom-right:hover {
	background:url(../img/images/anatomy.jpeg) no-repeat center center;
	box-shadow: 0px 0px;
}
.hover-top-right:hover {
	background:url(../img/images/space.jpeg) no-repeat center center;
	box-shadow: 0px 0px;
}
.hover-top-left:hover .hover-text, .hover-bottom-left:hover .hover-text, .hover-bottom-right:hover .hover-text, .hover-top-right:hover .hover-text {	
	opacity:0.7;
	display:block;
	background:var(--white);
}
.hover-text button:hover {
	background:var(--blue);
}
/* main-content-bottom section */
.main-content-bottom {
	min-height:750px;
	background-color:#FFFFFF;
	background: url(../img/images/library.jpg) no-repeat center center; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
.img-banner {
	background:linear-gradient(to bottom right , var(--light-blue), var(--light-green));
	max-width:350px;
	padding:10px;
	margin:auto;
	margin-top:250px;
	text-align:center;
	-webkit-text-stroke: 0.2px #000000;
}

/* header and footer */
header, footer {
	background:var(--black);
	font-size: 18px;
	text-align:center;
}
footer h2{
	color:var(--white);
	padding-top:30px;
}
header {
	padding-top: 30px;
}
footer .content-wrap{
	padding:50px;
}
.para-address {
	max-width:200px;
}
.contacts a {
	padding: 10px;
	display: inline-block;
}
.inline-element {
	display:inline-block;
	max-height:200px;
	margin-top:0;
	margin:10px;
}
.inline-element p{
	color:var(--white)
}
.social_media{
	height:40px;
	width:40px;
	border-radius: 9px;
	margin:10px;
}
.social_media:hover{
	background:var(--blue);
	border:1px solid var(--blue);
}
.copyright{
	font-size:15px;
	padding-top:15px;
	color:var(--white);
}

/* main body */
.columns a:hover{
	color:#FFFFFF;
	text-decoration:none;
}
.columns a {
	color:var(--black);
	text-decoration:none;
}
.columns h3{
	color:var(--black);
	font-size:30px;
}
.main-programs  p, .main-content-middle p{
	padding-bottom:20px;
	font-size:20px;
}
.home_image {
	width:100%;
	min-height:190px;
}
.shop-img-text {
	display:none;
	min-height:190px;
	width:100%;
}
.columns:hover .home_image {
	opacity:0.7;
}
.columns:hover h3{
	color:var(--white);
}
.columns{
	background: var(--green);
	box-shadow: 2.5px 5px;
	padding:10px;
	max-height: 700px;
	min-width:250px;
	margin: 5px;
	max-width:280px;
	justify-content:center;
	border-radius:10px;
	border:1px solid #000000;
}
.res-column{
	display: flex;
	-webkit-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	align-items: stretch;
	justify-content: center;

}
.main-body {
	background:linear-gradient(to right, var(--blue),var(--green));
}
.main-body .content-wrap {
	opacity:1.0;
	text-align:center;
	padding:10px;
	padding-top:120px;
	padding-bottom:50px;
}
#padding-top{
	padding-top:120px;	
}
.main-body h2{
	padding:20px;
}
.main-body input, .main-body textarea, .main-body select {
	padding: 15px 15px;
	margin: auto;
	margin-bottom:10px;
	border: 2px solid var(--blue);
	font-size: 15px;
	border-radius: 5px;
	color:#000000;
	font-weight:bold;
	background:var(--white);
	max-width:430px;
}
.main-body input, .main-body textarea {
	width:50%;
	display:block;
}
.main-body p, .main-body label{
	font-weight:bold;
	display:inline;
}
.main-body input[type="checkbox"]{
	display:inline;
	width:20px;
	margin:25px;
}
.main-body select {
	width:22.5%;	
}
.checkbox {
	max-width: 430px;
	margin: auto;
	text-align:left;
}
.terms {
	color:var(--black);
}
.main-body input[type="text"]:hover, .main-body textarea:hover {
	border:2px solid var(--violet);
}
.main-body [type="submit"] {
	background:var(--black);
	color: var(--white);
	font-size: 20px;
	border:2px solid var(--blue);
}
.main-body [type="submit"]:active, .main-body [type="submit"]:hover {
	border: 2px solid var(--violet);
}

.main-body input:focus::-webkit-input-placeholder { 
	color:transparent; 
}
.main-body input:focus:-moz-placeholder { 
	color:transparent; 
}
.main-body form {
	padding-top:20px;
}

/* Media queries */
@media (max-width: 600px){
	.main-body input, .main-body textarea {
		width: 90%;
	}
	.main-body select{
		width:47%;
	}
	.main-welcome .content-wrap .flex-content .right-top, .main-welcome .content-wrap .flex-content .left-top, .main-content-middle .content-wrap .flex-content .right-top, .main-content-middle .content-wrap .flex-content .left-top {
		display: flex;
		flex-direction: column;
		flex-basis: 100%;
		min-width:200px;
		min-height:400px;
	}
	.main-welcome .content-wrap .flex-content .right-top {
		padding:50px;
	}
	.main-welcome{
		min-height:750px;
	}
	.main-welcome .content-wrap .flex-content, .main-content-middle .content-wrap .flex-content {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		width: 100%;
	}
}
@media (min-width:601px) and (max-width:1100px) {
	.main-welcome .content-wrap .flex-content .right-top,.main-welcome .content-wrap .flex-content .left-top {
		flex:1;
	}	
	.columns{
		width:40%;
		display:inline-block;

	}
	.main-body input, .main-body textarea {
		width: 70%;
	}
}
@media (min-width:1101px){
	.main-welcome .content-wrap .flex-content .right-top {
		padding:100px;
	}
	.columns{
		flex:1;
	}
	.three-column{
		display: flex;
	}
}
/* Ref: https://codepen.io/erikterwan/pen/EVzeRP */
